header{
width: 100%;
height: 5em;

display: flex;
flex-direction: row;
align-items: center;
}


.topContainer{
top: 0em;

width: 100%;
height: 5em;

}

.headerLogo{ 

position: absolute;
left: 5%;
}

.navButtonContainer{ 

display: flex;
flex-direction: row;
justify-content: flex-end;
padding-right: 5%;
}

.listElement{
display: flex;
justify-content: space-around;
margin: 1em;


font-size: 20px;

}

.navbarButtonText{

color: black;
text-decoration: none;

font-size: 30px;

}



.navbarButtonText:hover{
text-decoration: none;
border-bottom:  5px solid #8e793e;

}




.fullPageContainer{

top: 5em;
width: 100%;
height: 100%;

margin-top: 1em;

display: grid;
grid-template-columns: 40% 60%;    
}

.imageSection{
float: left;
margin-top: 3em;
display: flex;
}

.homeImage{
border-radius: 50%;
width: 80%;
height: 95%;
margin: auto;

align-items: center;
display: flex;
justify-content: center;
}

.textSection{
float: center;
margin-top: 3em;

}

.textSectionHeader{
font-size: 30px;
color:  #8e793e;
}

.infoMeText{
font-size: 17px;
font-weight: 600;

text-align: justify;
line-height: 2em;

color: #231f20;
}

.checkMe{
font-size: 17px;
font-weight: 600;

text-align: justify;
line-height: 2em;
margin-top: 4em;

color: #231f20;
}


.socialNetworkLogo{
position: absolute;
left: 55%;

}


/* CONTACT ME PAGE */


.formContainer{
display: flex;
align-items: center;

flex-direction: column;

margin-top: 4em;
margin-left:15em;
margin-right: 15em;
border-radius: 1%;
background: linear-gradient(to bottom right, #565c5c7c 0%, #c6c5c370 100%);
}

.contactmeHeader{
color: #8e793e;
font-size: 40px;
font-weight: 600;
}

.explanationForm{
font-size: 22px;
font-weight: 600;

color: #231f20;
}

.formCells{
list-style-type: none;
}

.formCellContent{
font-size: 16px;
font-family: inherit;
padding: 0.25em 0.5em;
border: none;

}
textarea{
    width: 40em;
    height: 10em;
    resize: none;
    
}

.sendButton{
    margin-top:2em;
    margin-left: 0.7em;
}

.contactMail{
font-size: 17px;
font-weight: 600;

color: #231f20;

margin-left: 10em;
}

/* ABOUT ME PAGE */

.portfolioContent{
display: flex;
align-items: center;

flex-direction: column;

margin-top: 7em;
}

.canDo{
    color: #8e793e;
    font-size: 40px;
    font-weight: 600;
}

.skillsLogos{
    position: absolute;
    top:18em;
    left: 9em;

    height: 20em;
    width: 20em;
  
}

.skillsUl{
    list-style-type: square;
    color: #213159;
    font-size: 30px;
    line-height: 2;
}
.skillsList {
    color:  #231f20;
    font-size: 24px;
}


